body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}

.container {
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff6b6b, #f0e130);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.info-section {
  margin: 20px 0;
}
/* .sketchfab-embed-wrapper{
  height: 50px;
  width: 1000px;
} */
.image-grid {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.image-grid img {
  width: 300px;
  border-radius: 10px;
}

.simulator-section {
  text-align: center;
  margin-top: 30px;
}

.input-group {
  margin-bottom: 15px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #1e90ff, #00c9a7);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: linear-gradient(145deg, #00c9a7, #1e90ff);
}

.loading-text {
  color: #ff6b6b;
  font-weight: bold;
}
